@font-face{font-family:'Nanum Gothic'; src:url('../../fonts/NanumGothic-Regular.ttf')}


.container {
  margin: 50px 0;
}

.innerContainer{
    display:flex;
}

.card {
  margin: 0 2% !important;
  width: 400px;
  background-color : #353b48;
  border-radius : 5px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.16), 0 2px 3px rgba(0,0,0,0.23);
}

.header{
    width: 100%;
    height:40px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    font-size : 18px;
    line-height: 40px;
    color : #fff;
    font-family: 'Nanum Gothic';
    text-align:center;
    letter-spacing: 15px;
}
.content{
    padding : 5%;
    color: #fff;
}
.numbers{
    font-size: 20px;
}

.date{
  color:#718093;
}
.info{
    font-size:15px;
    margin-top : 5%;
}

.infected {
 background-color:  #e84118;
}
.recovered {
  background-color:#44bd32;
}

.deaths {
  background-color : #8c7ae6;
}

@media only screen and (max-width: 770px) {
  .card {
    margin: 2% 0 !important;
  }
  .innerContainer{
      flex-direction : column;
  }
}

